:root {
  --container-padding: 25px;
}

@media (max-width: 1200px) {
  html,
  body {
    min-width: 0;
  }

  .header {
    min-width: 0;
  }
  header {
    min-width: 0;
    width: 100%;
  }

  main {
    min-width: 0;
  }

  .firstScreen__title {
    font-size: 7vw;
    letter-spacing: 0.05em;
  }

  .screen2 {
    &__content {
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 70px var(--container-padding) 80px var(--container-padding);
      margin: 80px auto 0;
    }

    &__title {
      width: 100%;
    }

    &__description {
      width: 100%;
    }
  }

  .screen3 {
    &__content {
      padding: 100px var(--container-padding);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 auto;
      width: 100%;
    }
    &__title {
      width: 100%;
    }
    &__description {
      width: 100%;
    }

    &__features {
      width: 100%;
    }
  }
  .screen4 {
    &__wrapper {
      padding: 100px var(--container-padding) 40px;
      width: 100%;
    }
  }
  .screen5 {
    &__content {
      height: auto;
    }

    &__image {
      // width: 100%;
      // position: absolute;
      // z-index: -1;
      /* todo*/
    }

    &__wrapper {
      // width: 100%;
      // padding: 0 var(--container-padding);
      // box-sizing: border-box;
    }
  }
  .screen6 {
    &__wrapper {
      padding: 70px var(--container-padding) 50px;
    }

    &__description {
      // width: 100%;
    }
  }
  .screen7 {
    &__content {
      width: 100%;

      padding: 0 var(--container-padding);
    }

    &__risks {
      width: 100%;
    }
  }
  .screen8 {
    &__content {
      width: 100%;
      padding: 0 var(--container-padding);
      margin: 80px auto 0;
    }
    &__title {
      width: 100%;
    }
    &__inner {
      width: 100%;
    }
  }
  .screen9 {
    &__content {
      padding: 100px var(--container-padding);
      width: 100%;
    }
  }

  .feedbackFormCooperate {
    width: 100%;
  }
}
